*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.clearfix::after{
    display: block;
    content: "";
    clear: both;
}

.container{
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.btn{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    text-transform: uppercase;
    background: linear-gradient(to right, #19d3ae, #0fcfca);
}

.colorPrimary{
    color: #0fcfca;
}